-# in app/views/movies/edit.html.haml
%h1 Edit Worker Information

= form_tag worker_path(@worker), :method => :put do

  = label :worker, :name, 'Name'
  = text_field :worker, 'name'

  = label :worker, :skills, 'Skills'
  Include: 
  - @all_skills.each do |r|
    = r
    - if (@my_skills.include? r)
      = check_box_tag "skills[#{r}]", value =1, checked = true, :id => "skills_#{r}"
    - else
      =  check_box_tag "skills[#{r}]", value =1, checked = false, :id => "skills_#{r}"
  
  = label :worker, :age, 'Age'
  = text_field :worker, 'age'

  = submit_tag 'Save Changes', :id => "Save Changes"