%h1 Create New Worker

= form_tag workers_path do

  = label :worker, :name, 'Name'
  = text_field :worker, 'name'

  = label :worker, :skills, 'Skills'
  Include: 
  - @all_skills.each do |r|
    = r
    = check_box_tag "skills[#{r}]", 1, :id => "skills_#{r}"

  = label :worker, :age, 'Age'
  = text_field :worker, 'age'

  = submit_tag 'Save Changes'

